body {

    margin: 0;

    background-color: #111827;

    color: white;

    font-family: Arial, sans-serif;
}


.sidebar {

    width: 250px;

    height: 100vh;

    background-color: #1f2937;
}


.sidebar .nav-link {

    color: white;

    margin-bottom: 10px;
}


.sidebar .nav-link:hover {

    background-color: #374151;

    border-radius: 8px;
}


.main-content {

    flex-grow: 1;
}


.card {

    border-radius: 15px;

    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);

    padding: 10px;
}


.graph-box {

    height: 300px;

    background-color: #1f2937;

    border-radius: 15px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 24px;
}
.chart-container {

    background-color: #1f2937;

    padding: 20px;

    border-radius: 15px;

    height: 350px;
}
